<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

        <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.author }}{% endif %}</title>
        <meta name="author" content="{{ site.author }}" />
        <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <meta content="{{ site.title }}" property="og:site_name">
        {% if page.title %}
          <meta content="{{ page.title }}" property="og:title">
        {% else %}
          <meta content="{{ site.title }}" property="og:title">
        {% endif %}
        {% if page.title %}
          <meta content="article" property="og:type">
        {% else %}
          <meta content="website" property="og:type">
        {% endif %}
        {% if page.description %}
          <meta content="{{ page.description }}" property="og:description">
        {% else %}
          <meta content="{{ site.description }}" property="og:description">
        {% endif %}
        {% if page.url %}
          <meta content="{{ site.url }}{{ page.url }}" property="og:url">
        {% endif %}
        {% if page.date %}
          <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
          <meta content="{{ site.url }}/about/" property="article:author">
        {% endif %}
        {% if page.image %}
        <meta content="{{ site.url }}/static/img/posts/{{ page.image }}" property="og:image">
          <meta content="{{ site.url }}/static/img/avatar.jpg" property="og:image">
        {% endif %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@{{ site.twitter_username }}">
        <meta name="twitter:creator" content="@{{ site.twitter_username }}">
        {% if page.title %}
          <meta name="twitter:title" content="{{ page.title }}">
        {% else %}
          <meta name="twitter:title" content="{{ site.title }}">
        {% endif %}
        {% if page.url %}
          <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        {% endif %}
        {% if page.description %}
          <meta name="twitter:description" content="{{ page.description }}">
        {% else %}
          <meta name="twitter:description" content="{{ site.description }}">
        {% endif %}
        {% if page.header-img %}
          <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
        {% endif %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/syntax.css">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-34848142-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>

    <body>
        <div class="container">
            <div class="col-sm-3 profile">
              <div class="fixed-condition">
                <a href="/"><img id="about" src="/static/img/avatar.jpg" height="75px" width="75px" /></a>
                <h1 class="author-name">{{ site.author }}</h1>
                {% if site.about %}
                <div id="about">
                    <a href="/2016/06/12/artisan-developpeur.html">Artisan</a> d&eacute;veloppeur web
                </div>
                {% endif %}

                <div class="social">
                    <ul>
                        {% for link in site.social %}
                            <li><a href="{{ link.link }}" target="_blank" title="{{ link.text }}"><i class="fa {{ link.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
                  &nbsp;&raquo; <a class="about" href="/about">A propos de moi</a><br />

                <hr />

              </div><!-- end /.fixed-condition -->
            </div>

            <div class="col-sm-8 col-offset-1">
                {{ content }}

                <footer>
                    &copy; {{ site.author }}
                    {% if site.github %}
                    - <a href="{{ site.github }}">{{ site.github }}</a>
                    {% endif %}
                </footer>
            </div><!-- end /.col-sm-8 -->
        </div><!-- end /.container -->

        <a href="https://github.com/gbprod">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
        </a>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">